@tailwind base;
@tailwind components;
@tailwind utilities;

.rc-card-text p {
	font-size: 1em;
}

.rc-card-subtitle {
	padding: 1em 0 0 0;
}

.timeline-main-wrapper {
	padding: 0px !important;
}

@media screen and (min-width: 320px) {
	.rc-title {
		font-size: small !important;
		overflow: hidden !important;
		white-space: nowrap !important;
		min-width: 80px;
	}

	.card-description {
		max-height: 1000px !important;
	}
}

@media screen and (min-width: 640px) {
	.rc-title {
		font-size: 1.2em !important;

	}
}

@media screen and (min-width: 720px) {
	.rc-title {
		font-size: 1.4em !important;

	}
}

@media screen and (min-width: 1024px) {
	.rc-title {
		font-size: 2em !important;
		min-width: auto !important;

	}
}

@media (prefers-color-scheme: dark) {
	.rc-card-text {
		color: #222;
	}
}